<nav
    class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm"
    [ngClass]="{
        'navbar-light': !isDarkmode,
        'bg-light': !isDarkmode,
        'navbar-dark': isDarkmode,
        'bg-dark': isDarkmode
    }">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">
            <img
                width="100" 
                [src]="
                isDarkmode ?
                    'assets/img/ebox-logo-dark.svg' :
                    'assets/img/ebox-logo.svg'"
                alt="ebox logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']" [routerLinkActive]="'active'">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Other dapps
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Escrow dapp</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled d-flex flex-column flex-md-row align-items-md-center gap-3 mb-2 mb-lg-0">
                <li>
                    <a *ngIf="!(connectService.isConnected$ | async)"
                        class="btn btn-outline-primary"
                        [routerLink]="['/connect']" [queryParams]="{ returnUrl: router.url }"><i class="bi bi-box-arrow-in-right me-2"></i>Connect</a>
                    <a *ngIf="connectService.isConnected$ | async"
                        class="btn btn-primary"
                        (click)="connectService.disconnect()"><i class="bi bi-box-arrow-left me-2"></i>Disconnect</a>
                </li>
                <li>
                    <div class="form-check form-switch">
                        <input [checked]="isDarkmode" class="form-check-input" type="checkbox" id="darkModeSwitch" (click)="toggleDarkmode()">
                        <label class="form-check-label" for="darkModeSwitch">Dark mode</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>