<app-card-archetype>
    <ng-container class="card-header-content">
        <h4 class="my-1">Create Lock</h4>
    </ng-container>
    <ng-container class="card-body-content">
        <div class="p-3">

            <!-- Step 1 -->
            <div class="pb-4">
                <h5 class="mb-3">Step 1: Select Token</h5>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                            type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="resetSelectedToken()">Select from list</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                            type="button" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="resetSelectedToken()">Insert manually</button>
                    </li>
                </ul>
                <div class="tab-content mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active mt-4" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        
                        <ng-container *ngIf="!(userTokensInitialized$ | async); else tokensLoaded">
                            <div class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #tokensLoaded>
                            <ul class="token-list list-group list-group-flush border">
                                <li class="token-list-item list-group-item position-relative d-flex flex-wrap justify-content-md-between gap-2"
                                    *ngFor="let t of userTokens$ | async;  let odd = odd; trackBy: trackTokenByAddress"
                                    (click)="selectToken(t)"
                                    [ngClass]="{
                                        'selected-row': selectedToken && selectedToken.address === t.address,
                                        'odd-row': odd
                                    }">
                                    <div>
                                        <small class="text-muted">Symbol</small>
                                        <div>{{ t.symbol }}</div>
                                    </div>
                                    <div>
                                        <small class="text-muted">Address</small>
                                        <div>{{ t.address }}</div>
                                    </div>
                                    <div class="text-md-end">
                                        <small class="text-muted">Balance</small>
                                        <div>{{ t.balance | weiToDecimal: t.decimals | formatMultiplier }}</div>
                                    </div>
                                </li>
                            </ul>
                        </ng-template>

                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="input-group">
                            <input [formControl]="tokenAddrField" 
                                [ngClass]="{
                                    'is-valid': tokenAddrField.valid && (tokenAddrField.dirty || tokenAddrField.touched),
                                    'is-invalid': tokenAddrField.invalid && (tokenAddrField.dirty || tokenAddrField.touched)
                                }"
                                type="text"
                                class="form-control"
                                placeholder="Token address"
                                aria-label="Token address"
                                aria-describedby="button-addon">
                            <button class="btn btn-primary"
                                type="button"
                                id="button-addon"
                                [class.disabled]="tokenAddrField.invalid"
                                (click)="loadToken()">Load</button>
                        </div>
                        <div class="invalid-feedback d-block ps-3" *ngIf="tokenAddrField.errors && (tokenAddrField.dirty || tokenAddrField.touched)">
                            <p *ngIf="tokenAddrField.errors.invalidAddress">Invalid address</p>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="!selectedToken; else showTokenInfo">
                    <small class="text-muted">Please select a token to proceed!</small>
                </ng-container>

                <ng-template #showTokenInfo>
                    <div class="p-3 border rounded">
                        <h5>Selected Token</h5>
                        <div class="d-flex flex-wrap justify-content-md-between gap-2 px-2">
                            <div>
                                <small class="text-muted">Symbol</small>
                                <div>{{ selectedToken.symbol }}</div>
                            </div>
                            <div>
                                <small class="text-muted">Address</small>
                                <div>{{ selectedToken.address }}</div>
                            </div>
                            <div class="text-md-end">
                                <small class="text-muted">Balance</small>
                                <div>{{ selectedToken.balance | weiToDecimal: selectedToken.decimals | formatMultiplier }} {{ selectedToken.symbol }}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>

            <!-- Step 2 -->
            <div *ngIf="selectedToken" class="pb-4">
                <h5 class="mb-3">Step 2: Choose Amount to Lock</h5>
                <div class="input-group mb-2">
                    <input [formControl]="amountField"
                        [ngClass]="{
                            'is-valid': amountField.valid && (amountField.dirty || amountField.touched),
                            'is-invalid': amountField.invalid && (amountField.dirty || amountField.touched)
                        }"
                        [readonly]="interactingWithSmartContract"
                        type="text"
                        class="form-control"
                        placeholder="Token amount to lock"
                        aria-label="Token amount to lock"
                        aria-describedby="button-addon">
                    <button class="btn btn-primary"
                        type="button"
                        [class.disabled]="amountField.invalid"
                        (click)="confirmAmount()">Next</button>
                </div>
                <div class="d-flex gap-2 ps-3">
                    <button class="btn btn-sm btn-outline-primary"
                        [class.disabled]="interactingWithSmartContract"
                        (click)="setPercentageAmount(.25)">25%</button>
                    <button class="btn btn-sm btn-outline-primary"
                        [class.disabled]="interactingWithSmartContract"
                        (click)="setPercentageAmount(.5)">50%</button>
                    <button class="btn btn-sm btn-outline-primary"
                        [class.disabled]="interactingWithSmartContract"
                        (click)="setPercentageAmount(.75)">75%</button>
                    <button class="btn btn-sm btn-outline-primary"
                        [class.disabled]="interactingWithSmartContract"
                        (click)="setPercentageAmount(1)">Max</button>
                </div>
                <div class="invalid-feedback d-block ps-3" *ngIf="amountField.errors && (amountField.dirty || amountField.touched)">
                    <p *ngIf="amountField.errors.invalidAmount">Invalid amount</p>
                    <p *ngIf="amountField.errors.amountTooLow">Amount too low</p>
                    <p *ngIf="amountField.errors.amountTooHigh">Amount too high</p>
                </div>
                <div class="scroll-step" id="step-2-end"></div>
            </div>

            <!-- Step 3 -->
            <div *ngIf="selectedToken && amountConfirmed" class="pb-4">
                <h5 class="mb-3">Step 3: Select Unlocking Time</h5>
                <div class="input-group mb-2">
                    <input [formControl]="unlockDateField"
                        [ngClass]="{
                            'is-valid': unlockDateField.valid && (unlockDateField.dirty || unlockDateField.touched),
                            'is-invalid': unlockDateField.invalid && (unlockDateField.dirty || unlockDateField.touched)
                        }"
                        [min]="minDate"
                        [max]="maxDate"
                        [readonly]="interactingWithSmartContract"
                        type="datetime-local"
                        class="form-control"
                        placeholder="Unlocking time"
                        aria-label="Unlocking time"
                        aria-describedby="button-addon">
                    <button class="btn btn-primary"
                        type="button"
                        [class.disabled]="unlockDateField.invalid"
                        (click)="confirmUnlockDate()">Next</button>
                </div>
                <div class="invalid-feedback d-block ps-3" *ngIf="unlockDateField.errors && (unlockDateField.dirty || unlockDateField.touched)">
                    <p *ngIf="unlockDateField.errors.required">Unlocking time is required</p>
                    <p *ngIf="unlockDateField.errors.tooFarBack">Unlocking time can't be in the past</p>
                    <p *ngIf="unlockDateField.errors.tooFarAhead">Unlocking time can't be after {{ maxDate }}</p>
                </div>
                <div class="scroll-step" id="step-3-end"></div>
            </div>

            <!-- Step 4 -->
            <div *ngIf="selectedToken && amountConfirmed && unlockDateConfirmed" class="pb-4">
                <h5 class="mb-3">Step 4: Review &amp; Create</h5>
                <div class="alert alert-danger" role="alert">
                    Be absolutely sure to set the correct token amount and unlocking time!<br>It is technically impossible to revert the lock once it has been set up.
                </div>
                <div class="p-3 border rounded mb-3">
                    <div class="d-grid gap-3">
                        <div>
                            <h5>Selected Token</h5>
                            <div class="d-flex flex-wrap justify-content-md-between gap-2">
                                <div>
                                    <small class="text-muted">Symbol</small>
                                    <div>{{ selectedToken.symbol }}</div>
                                </div>
                                <div>
                                    <small class="text-muted">Address</small>
                                    <div>{{ selectedToken.address }}</div>
                                </div>
                                <div class="text-md-end">
                                    <small class="text-muted">Balance</small>
                                    <div>{{ selectedToken.balance | weiToDecimal: selectedToken.decimals | formatMultiplier }} {{ selectedToken.symbol }}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5>Amount to Lock</h5>
                            <div *ngIf="!amountField.errors">{{ amountField.value }} {{ selectedToken.symbol }}</div>
                            <div class="invalid-feedback d-block" *ngIf="amountField.errors">
                                <p *ngIf="amountField.errors.invalidAmount">Amount is invalid</p>
                                <p *ngIf="amountField.errors.amountTooLow">Amount is too low</p>
                                <p *ngIf="amountField.errors.amountTooHigh">Amount is too high</p>
                            </div>
                        </div>
                        <div>
                            <h5>Unlocking Time</h5>
                            <div *ngIf="!unlockDateField.errors">{{ date2timestamp(unlockDateField.value) | formatDate}}</div>
                            <div class="invalid-feedback d-block" *ngIf="unlockDateField.errors">
                                <p *ngIf="unlockDateField.errors.required">Unlock date is required</p>
                                <p *ngIf="unlockDateField.errors.tooFarBack">Unlock date can't be in the past</p>
                                <p *ngIf="unlockDateField.errors.tooFarAhead">Unlock date can't be after {{ maxDate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="hasToApprove">
                    <div class="alert alert-dark" role="alert">
                        In order to Lock you need to grant allowance to our smart contract first. To proceed click on Approve.
                    </div>
                </ng-container>
                <div class="d-flex gap-2">
                    <button *ngIf="hasToApprove"
                        class="btn btn-lg btn-outline-primary"
                        [class.disabled]="interactingWithSmartContract"
                        (click)="approveUnlimitedSpending()">Approve</button>
                    <button class="btn btn-lg btn-primary"
                        [class.disabled]="amountField.invalid || unlockDateField.invalid || hasToApprove || interactingWithSmartContract"
                        (click)="lockCreate()">Lock</button>
                    <div class="scroll-step" id="step-4-end"></div>
                </div>
            </div>

        </div>
    </ng-container>
    <ng-container class="card-footer-content">
        <app-connection-information></app-connection-information>
    </ng-container>
</app-card-archetype>
