.token-list {
    max-height: 250px;
    overflow: auto;
}

.token-list-item {
    cursor: pointer;
}

.token-list-item.selected-row::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .333rem;
    height: 100%;
    background-color: var(--bs-primary);
}

.token-list-item.odd-row {
    background-color: #8882;
}

.scroll-step {
    position: relative;
    top: 50px;
}