.lock::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .333rem;
    height: 100%;
}

.lock.lock--unlocked::after {
    background-color: var(--bs-gray);
}

.lock.lock--locked::after {
    background-color: var(--bs-primary);
}