<div class="lock"
    [ngClass]="{
        'lock--locked': lock.expiration_time > now,
        'lock--unlocked': lock.expiration_time < now
    }">

    <div class="d-flex flex-wrap justify-content-between gap-2 mb-3">
        <div>
            <div><small class="text-muted">Expiration date</small></div>
            <div>{{ lock.expiration_time | formatDate }}<i class="bi ms-2" [ngClass]="{ 'bi-lock-fill': lock.expiration_time > now, 'text-primary': lock.expiration_time > now, 'bi-unlock': lock.expiration_time < now }"></i></div>
        </div>
        <div>
            <div><small class="text-muted">Owner</small></div>
            <div>{{ lock.owner }}</div>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-between align-items-end gap-2 mb-3">
        <div>
            <div><small class="text-muted">Token</small></div>
            <div>{{ lock.token_symbol }}</div>
            <div>{{ lock.token_address }}</div>
        </div>
        <div>
            <div><small class="text-muted">Value</small></div>
            <div class="fs-3 lh-0">{{ lock.value | formatMultiplier }}</div>
        </div>
    </div>

    <div *ngIf="(connectService.isConnected$ | async) && (connectService.selectedAccount$ | async) === lock.owner">
        <small>
            <a data-bs-toggle="collapse" [href]="'#lock-id-' + lock.index" role="button" aria-expanded="false">
                Actions<i class="bi bi-caret-down ms-1"></i>
            </a>
        </small>
    </div>
    <div class="collapse mt-3" [id]="'lock-id-' + lock.index">
        <div class="card card-body">
            <div class="d-inline-flex gap-2">
                <a href="#" class="btn btn-sm btn-primary"><i class="bi bi-pen me-2"></i>Edit lock</a>
                <a href="#" class="btn btn-sm btn-primary" [class.disabled]="lock.expiration_time > now"><i class="bi bi-unlock-fill me-2"></i>Withdraw lock</a>
            </div>
        </div>
    </div>      

</div>
