<ng-container *ngIf="!(connectService.isConnected$ | async); else connected">
    You are not connected.
</ng-container>

<ng-template #connected>
    <ul class="list-inline m-0">
        <li class="list-inline-item">
            <span class="fw-bold">Address</span> {{ connectService.selectedAccount$ | async | ellipsis: 10 }}
        </li>
        <li class="list-inline-item px-2">
			<span class="fw-bold">Network</span> {{ NETWORK_MAP[this.connectService.chainId$.getValue()].name }}
        </li>
        <li class="list-inline-item">
            <span class="fw-bold">Balance</span> {{ connectService.baseTokenBalance$ | async | formatMultiplier }} {{ NETWORK_MAP[this.connectService.chainId$.getValue()].currencyName }}
        </li>
    </ul>
    
</ng-template>
