<div class="p-3 my-4 border rounded">

	<ng-container *ngIf="hasToApprove; else functionalitiesGrid">
        <div class="alert alert-dark" role="alert">
            In order to access these functionalities you need to grant allowance to our smart contract first. To proceed click on Approve.
        </div>
        <button *ngIf="hasToApprove"
            class="btn btn-lg btn-outline-primary"
            [class.disabled]="interactingWithSmartContract"
            (click)="approveUnlimitedSpending()">Approve</button>
    </ng-container>
    <ng-template #functionalitiesGrid>

        <div class="alert alert-danger mb-4" role="alert">
            Be absolutely sure to set the correct token amount and unlocking time!<br>It is technically impossible to revert the lock once it has been set up.
        </div>
        
        <div class="functionalities-grid">
            <div>
                <div class="fs-5 lh-0">Add</div>
                <p class="mb-2"><small class="text-muted">Add tokens of the same kind</small></p>
                <div class="input-group mb-2">
                    <input [formControl]="lockAddField"
                        [ngClass]="{
                            'is-valid': lockAddField.valid && (lockAddField.dirty || lockAddField.touched),
                            'is-invalid': lockAddField.invalid && (lockAddField.dirty || lockAddField.touched)
                        }"
                        [attr.disabled]="(interactingWithSmartContract) ? '' : null"
                        type="text"
                        class="form-control"
                        placeholder="Token amount to add"
                        aria-label="Token amount to add"
                        aria-describedby="button-addon">
                    <button class="btn btn-primary"
                        [class.disabled]="lockAddField.invalid || interactingWithSmartContract"
                        (click)="lockAdd()">Add</button>
                </div>
                <div class="invalid-feedback d-block ps-3" *ngIf="lockAddField.errors && (lockAddField.dirty || lockAddField.touched)">
                    <p *ngIf="lockAddField.errors.invalidAmount">Invalid amount</p>
                    <p *ngIf="lockAddField.errors.amountTooLow">Amount too low</p>
                    <p *ngIf="lockAddField.errors.amountTooHigh">Amount too high</p>
                </div>
            </div>
            <div>
                <div class="fs-5 lh-0">Extend</div>
                <p class="mb-2"><small class="text-muted">Extend the locking period</small></p>
                <div class="input-group mb-2">
                    <input [formControl]="lockExtendField"
                        [ngClass]="{
                            'is-valid': lockExtendField.valid && (lockExtendField.dirty || lockExtendField.touched),
                            'is-invalid': lockExtendField.invalid && (lockExtendField.dirty || lockExtendField.touched)
                        }"
                        [min]="minDate"
                        [max]="maxDate"
                        [attr.disabled]="(interactingWithSmartContract) ? '' : null"
                        type="datetime-local"
                        class="form-control"
                        placeholder="New unlocking time"
                        aria-label="New unlocking time"
                        aria-describedby="button-addon">
                    <button class="btn btn-primary"
                        [class.disabled]="lockExtendField.invalid || interactingWithSmartContract"
                        (click)="lockExtend()">Extend</button>
                </div>
                <div class="invalid-feedback d-block ps-3" *ngIf="lockExtendField.errors && (lockExtendField.dirty || lockExtendField.touched)">
                    <p *ngIf="lockExtendField.errors.required">New unlocking time is required</p>
                    <p *ngIf="lockExtendField.errors.tooFarBack">New unlocking time can't be before current unlock date</p>
                    <p *ngIf="lockExtendField.errors.tooFarAhead">New unlocking time can't be after {{ maxDate }}</p>
                </div>
            </div>
            <div>
                <div class="fs-5 lh-0">Transfer</div>
                <p class="mb-2"><small class="text-muted">Transfer lock ownership</small></p>
                <div class="input-group">
                    <input [formControl]="lockTransferField" 
                        [ngClass]="{
                            'is-valid': lockTransferField.valid && (lockTransferField.dirty || lockTransferField.touched),
                            'is-invalid': lockTransferField.invalid && (lockTransferField.dirty || lockTransferField.touched)
                        }"
                        [attr.disabled]="(interactingWithSmartContract) ? '' : null"
                        type="text"
                        class="form-control"
                        placeholder="New owner address"
                        aria-label="New owner address"
                        aria-describedby="button-addon">
                    <button class="btn btn-primary"
                        type="button"
                        id="button-addon"
                        [class.disabled]="lockTransferField.invalid || interactingWithSmartContract"
                        (click)="lockTransfer()">Transfer</button>
                </div>
                <div class="invalid-feedback d-block ps-3" *ngIf="lockTransferField.errors && (lockTransferField.dirty || lockTransferField.touched)">
                    <p *ngIf="lockTransferField.errors.invalidAddress">Invalid address</p>
                </div>
            </div>
            <div>
                <div class="fs-5 lh-0">Release</div>
                <p class="mb-2"><small class="text-muted">Release all or some tokens from lock</small></p>
                <div class="input-group mb-2">
                    <input [formControl]="lockReleaseField"
                        [ngClass]="{
                            'is-valid': lockReleaseField.valid && (lockReleaseField.dirty || lockReleaseField.touched),
                            'is-invalid': lockReleaseField.invalid && (lockReleaseField.dirty || lockReleaseField.touched)
                        }"
                        [attr.disabled]="(lock.isLocked() || interactingWithSmartContract) ? '' : null"
                        type="text"
                        class="form-control"
                        placeholder="Token amount to release"
                        aria-label="Token amount to release"
                        aria-describedby="button-addon">
                    <button class="btn btn-primary"
                        [class.disabled]="lock.isLocked() || lockReleaseField.invalid || interactingWithSmartContract"
                        (click)="lockRelease()">Release</button>
                </div>
                <div class="d-flex gap-2 ps-3">
                    <button class="btn btn-sm btn-outline-primary"
                        (click)="setReleasePercentage(.25)"
                        [class.disabled]="lock.isLocked()  || interactingWithSmartContract">25%</button>
                    <button class="btn btn-sm btn-outline-primary"
                        (click)="setReleasePercentage(.5)"
                        [class.disabled]="lock.isLocked()  || interactingWithSmartContract">50%</button>
                    <button class="btn btn-sm btn-outline-primary"
                        (click)="setReleasePercentage(.75)"
                        [class.disabled]="lock.isLocked()  || interactingWithSmartContract">75%</button>
                    <button class="btn btn-sm btn-outline-primary"
                        (click)="setReleasePercentage(1)"
                        [class.disabled]="lock.isLocked()  || interactingWithSmartContract">Max</button>
                </div>
                <div class="invalid-feedback d-block ps-3" *ngIf="lockReleaseField.errors && (lockReleaseField.dirty || lockReleaseField.touched)">
                    <p *ngIf="lockReleaseField.errors.invalidAmount">Invalid amount</p>
                    <p *ngIf="lockReleaseField.errors.amountTooLow">Amount too low</p>
                    <p *ngIf="lockReleaseField.errors.amountTooHigh">Amount too high</p>
                </div>
            </div>
        </div>
    </ng-template>
</div>