<div class="p-3">
    <h4 class="card-title">Find Lock by ID</h4>
    <p class="card-text">Each ebox Liquidity Locker instance ("lock") is assigned a unique ID. You can use this ID to quickly retrieve data about any lock that was ever created.</p>
    <form class="col-md-6 needs-validation novalidate"
          [formGroup]="findLockForm"
          (ngSubmit)="onSubmit()">
        <div class="input-group">
            <input formControlName="lockIndex"
                   [ngClass]="{
                       'is-valid': lockIndex.valid && (lockIndex.dirty || lockIndex.touched),
                       'is-invalid': lockIndex.invalid && (lockIndex.dirty || lockIndex.touched)
                   }"
                   type="text"
                   class="form-control"
                   placeholder="Lock ID">
            <button class="btn btn-outline-primary"
                    type="submit"
                    [disabled]="lockIndex.errors ? 'disabled' : null">Go</button>
        </div>
        <div class="d-block invalid-feedback ms-2"
            *ngIf="lockIndex.errors && (lockIndex.dirty || lockIndex.touched)">
            <div *ngIf="lockIndex.errors.required">Lock ID is required.</div>
            <div *ngIf="lockIndex.errors.pattern">Lock ID has to be an integer number.</div>
        </div>
    </form>
</div>
