<!-- Navigation on mobile -->
<div class="container-fluid p-0 h-100 d-md-none">
    <div class="row g-0 text-center">
        <div class="col-4">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['home']">Home</a>
        </div>
        <div class="col-4">
            <a class="nav-link" href="#">[[TODO]]</a>
        </div>
        <div class="col-4">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Other</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">[[TODO]]</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
