<app-card-archetype>
    <ng-container class="card-header-content">
		<h4 class="my-1"></h4>
	</ng-container>
    <ng-container class="card-body-content">
        <div class="referral-hero">
            <div class="referral-hero__left col-md-6">
                <h3 class="referral-hero__title">Receive 50% of all fees paid through your link!</h3>
                <div class="referral-hero__text-wrap">
                    <p>Share with project administrators to spread the word and earn juicy rewards.</p>
                </div>
				<ng-container *ngIf="isLoading else showShareLink">
                    <div class="text-center">
                        <div class="spinner-border"></div>
                    </div>
                </ng-container>
                <ng-template #showShareLink>
                    <div class="referral-hero__link">
                        <app-copyable-text [text]="shareLink"></app-copyable-text>
                    </div>
                </ng-template>
                <div class="referral-hero__text-wrap">
                    <small>Rewards will be available for claiming through this dashboard on a monthly basis.<br>See <a href="https://ebox-official.medium.com/ebox-liquidity-locker-b07ce31f9735" target="_blank">Medium</a> for details.</small>
                </div>
            </div>
            <img class="floating-ebox-logo" src="assets/img/ebox-logo.svg" alt="ebox logo">
        </div>
    </ng-container>
    <ng-container class="card-footer-content">
        <app-copyright></app-copyright>
    </ng-container>
</app-card-archetype>
