.list-group-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #8882;
}

.wallet-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-image: radial-gradient(circle at center, #8884, #0000);
    border-radius: 50%;
}