<app-card-archetype>
    <ng-container class="card-header-content">
        <h5 class="mb-3">Lock list</h5>
        <p class="d-inline-flex gap-2">
            <a [routerLink]="['/create-lock']" class="btn btn-sm btn-primary"><i class="bi bi-lock-fill me-2"></i>Create lock</a>
            <a href="#" class="btn btn-sm btn-primary"><i class="bi bi-pen me-2"></i>Edit lock</a>
            <a href="#" class="btn btn-sm btn-primary"><i class="bi bi-unlock-fill me-2"></i>Withdraw lock</a>
        </p>
        <ul class="nav nav-tabs" style="margin-bottom: calc(-0.5rem - 1px)">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['./general']">Everybody</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['./personal']">Personal</a>
            </li>
        </ul>
    </ng-container>
    <ng-container class="card-body-content">
        <router-outlet></router-outlet>
    </ng-container>
    <ng-container class="card-footer-content">
        <app-connection-information></app-connection-information>
    </ng-container>
</app-card-archetype>
