<app-card-archetype>
    <ng-container class="card-header-content">
        <h5 class="my-1 mb-2">Lock Details</h5>
        <a class="text-decoration-none" [routerLink]="['../']" [queryParams]="{ 'lockIntoView': lock?.index }"><i class="bi bi-arrow-left me-2"></i>Back</a>
    </ng-container>
    <ng-container class="card-body-content">

        <ng-container *ngIf="lockRetrievalError !== -1; else lockFound">
            <div class="p-3 text-center">
                <h1 class="display-5 fw-bolder text-primary">Not Found!</h1>
                <p class="mb-2 lead fw-bold">There is no Lock with the ID <span class="text-primary">{{ lockRetrievalError.toString().padStart(4, "0") }}</span>.</p>
                <p class="col-md-6 lh-1 mx-auto text-muted"><small>If you are experiencing issues, kindly contact us <a href="mailto:office@ebox.io">by mail</a> or on <a href="https://t.me/ebox_official" target="_blank">Telegram</a>.</small></p>
            </div>
        </ng-container>
        <ng-template #lockFound>
            <ng-container *ngIf="!lock; else lockLoaded">
                <div class="text-center my-4">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </ng-container>
            <ng-template #lockLoaded>
                <div class="p-3 pb-4">
                    <div class="d-grid gap-2">
    
                        <div class="main-info">
                            <div class="main-info__index">
                                <div><small class="text-muted">ID</small></div>
                                <span>{{ lock.index.toString().padStart(4, "0") }}</span>
                            </div>
    
                            <div class="main-info__status" [class.text-primary]="lock.isLocked()">
                                <div><small class="text-muted">Status</small></div>
                                <span class="status-text">{{ !lock.isLocked() ? 'Unlocked' : 'Locked' }}</span>
                            </div>
                            
                            <div class="main-info__expiration">
                                <div><small class="text-muted">Unlocking Time</small></div>
                                <span>{{ lock.expirationTime | formatDate }}
                                    <i class="bi ms-2"
                                        [ngClass]="{
                                            'bi-lock-fill': lock.isLocked(),
                                            'text-primary': lock.isLocked(),
                                            'bi-unlock': !lock.isLocked()
                                        }"></i>
                                </span>
                            </div>
    
                            <ng-container *ngIf="lock.isEmpty">
                                <h5 class="main-info__withdrawn">This lock has been withdrawn completely.</h5>
                            </ng-container>
                        </div>

                        <div>
                            <div><small class="text-muted">Sharing Link</small></div>
                            <app-copyable-text [text]="shareLink"></app-copyable-text>
                        </div>
    
                        <div>
                            <div><small class="text-muted">Current Owner</small></div>
                            <app-scanner-link [address]="lock.getOwner()"></app-scanner-link>
                        </div>
                        <div *ngIf="lock.transfers">
                            <div><small class="text-muted">Ownership Transfers</small></div>
                            <ul class="list-group">
                                <li class="list-group-item d-flex flex-wrap justify-content-between" *ngFor="let t of lock.transfers">
                                    <div>
                                        <small class="text-muted">Old Owner</small>
                                        <div>
                                            <app-scanner-link [address]="t.oldOwner"></app-scanner-link>
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-muted">New Owner</small>
                                        <div>
                                            <app-scanner-link [address]="t.newOwner"></app-scanner-link>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div><small class="text-muted">Locked Token</small></div>
                            <app-scanner-link [address]="lock.token.address"></app-scanner-link>
                        </div>
                        <div>
                            <div><small class="text-muted">Token Amount</small></div>
                            <div class="fs-4 lh-0">{{ lock.value | weiToDecimal: lock.token.decimals }} {{ lock.token.symbol }}</div>
                            <!-- <div *ngIf="ownedBySelectedAccount"><small class="text-muted">Your balance of {{ lock.token.symbol }} is {{ lock.token.balance | weiToDecimal: lock.token.decimals }}</small></div> -->
                        </div>
    
                        <!-- start of lock edit section -->
                        <ng-container *ngIf="!lock.isEmpty">
                            <ng-container *ngIf="ownedBySelectedAccount">
                                <app-edit-lock [lock]="lock" (lockEdited)="setState()"></app-edit-lock>
                            </ng-container>
                        </ng-container>
                        <!-- end of lock edit section -->
                        
                    </div>
                </div>
            </ng-template>
        </ng-template>

    </ng-container>
    <ng-container class="card-footer-content">
        <app-connection-information></app-connection-information>
    </ng-container>
</app-card-archetype>
