<!-- Navigation on desktop -->
<ul class="nav nav-pills d-none d-md-flex align-items-end">
    <li class="nav-item">
        <a class="btn btn-outline-primary" [routerLinkActive]="'active'" [routerLink]="['/home']"><i class="bi bi-house-fill me-2"></i>Home</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary" [routerLinkActive]="'active'" [routerLink]="['/create-lock']"><i class="bi bi-lock-fill me-2"></i>Create lock</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary" [routerLinkActive]="'active'" [routerLink]="['/lock-list']"><i class="bi bi-card-list me-2"></i>View locks</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary" [routerLinkActive]="'active'" [routerLink]="['/referral']"><i class="bi bi-card-list me-2"></i>Referral</a>
    </li>
    <ng-container *ngIf="(testTokens$ | async)!.length">
        <li class="nav-item">
            <a class="btn btn-outline-primary"
                (click)="giveTestToken('Uni-LP', 0)"
                [class.disabled]="interactingWithSmartContract"><i class="bi bi-coin me-2"></i>Get 100 Uni-LP</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary"
                (click)="giveTestToken('EBOX', 3)"
                [class.disabled]="interactingWithSmartContract"><i class="bi bi-coin me-2"></i>Get 100 EBOX</a>
        </li>
    </ng-container>
</ul>