<app-card-archetype>
    <ng-container class="card-header-content">
        <div class="mb-3">
            <h5 class="mb-2">Lock list</h5>

            <div *ngIf="progressBarShown">
                <small class="text-muted">Rendering the full list may take a while, as the list is fetched directly from the blockchain.</small>
                <div class="progress"
                     style="transition: max-height .6s ease;"
                     [style.max-height]="(!(locksInitialized$ | async) ? 50 : 0)+ 'px'">
                    <div class="progress-bar"
                         [class.progress-bar-striped]="locks.length != locksInitialData.length"
                         [class.progress-bar-animated]="locks.length != locksInitialData.length"
                         role="progressbar"
                         [style.width]="100 * locks.length / locksInitialData.length + '%'"
                         aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        {{ 100 * locks.length / locksInitialData.length | number: '1.0-0' }}%
                    </div>
                </div>
            </div>

        </div>
        <ul class="nav nav-tabs" style="margin-bottom: calc(-0.5rem - 1px)">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['./find']">Find</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['./personal']">Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['./general']">Everybody</a>
            </li>
        </ul>
    </ng-container>
    <ng-container class="card-body-content">
        <router-outlet></router-outlet>
    </ng-container>
    <ng-container class="card-footer-content">
        <app-connection-information></app-connection-information>
    </ng-container>
</app-card-archetype>
