<app-card-archetype>
    <ng-container class="card-header-content">
        <div class="mb-3">
            <h5 class="mb-2">Lock list</h5>
            <small class="text-muted">Rendering the full list may take a while, as the list is fetched directly from the blockchain.<br>Loading status is: <span class="text-primary">{{ (loadingLocks$ | async) ? 'Fetching locks...' : 'Completed.' }}</span></small>
        </div>
        <ul class="nav nav-tabs" style="margin-bottom: calc(-0.5rem - 1px)">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['./general']">Everybody</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['./personal']">Personal</a>
            </li>
        </ul>
    </ng-container>
    <ng-container class="card-body-content">
        <router-outlet></router-outlet>
    </ng-container>
    <ng-container class="card-footer-content">
        <app-connection-information></app-connection-information>
    </ng-container>
</app-card-archetype>
